<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><a href="#">Home</a></li>
       <li role="presentation"><a href="#">Category</a></li>
      <li role="presentation"><a href="#">About</a></li>
      <li role="presentation"><a href="<%= new_user_path %>">Put Thought</a></li>
      <li role="presentation"><a href="<%= new_category_path %>">Category</a></li>
       </div>
       </nav> 

 <!-- <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#"><b>Add Movie Review</b></a></li>
            <li role="presentation"><a href="#"><b>See Movie's Review</b> </a></li>
          </ul>
        </nav>
        </div> -->

<!-- <nav class="navbar navbar-default navbar-static-top">
  <div class="container">
<ul class="nav nav-pills pull-right">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">About</a></li>
  <li role="presentation"><a href="#">Category</a></li>
</ul>
</div>
</nav> -->